{% extends "contacts/_base.html" %}

{% block content %}
<h2 class="fw-bold">Контакты</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="hstack gap-3 pb-4">
        <a href="/contacts/new" class="btn btn-success p-2">Создать</a>
    </div>
    <div class="col">
        <ul class="list-group">
            {% for contact in contacts %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                <a href="/contacts/{{ object.pk }}" class="text-decoration-none link-dark">{{ contact.pk }}</a>
                <a href="/contacts/{{ object.pk }}/delete" class="btn btn-danger">Удалить</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}