{% extends "tasks/_base.html" %}

{% block content %}
<h2 class="fw-bold">Задачи</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                {{ task.title }} - {{ task.start_date }} - {{ task.end_date }}
                <li class="list-group-item list-group-item-light d-flex justify-content-between">
                <a href="/tasks/{{ task.pk }}" class="text-decoration-none link-dark">{{ task.status }}</a>
                <a href="/tasks/{{ task.pk }}/delete" class="btn btn-danger">Удалить</a>
            </li>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}